html,

#container {
  min-height: 100%;
  position: relative;
  width: 100%;
  background-color: #D1E4E8;
}

#header {
  text-align: center;
  font-size: 3em;
  font-family: fantasy, sans-serif;
  min-width: 50%;
  max-height: 2em;
  margin: auto;
}

.navbar {
  background-color: #2FC3FF;
  border-radius: 2em;
  font-family:futura, sans-serif;
  width: 100%;
  height: 3.5em;
  text-align: center;
  overflow: hidden;
}

ul {
  list-style: none;
  text-align: left;
}

.navbar li {
  float: left;
}

.navbar li + li{
  margin-left: 8em;
  margin-bottom: 2em;
}

#body {
  margin-top: 2em;
  text-align: center;

}

#greeting {
  font-size: 2em;
  font-family: papyrus, sans-serif;
}

#me {
  border-radius: 4em;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #5582FF;
  width: 95%;
  height: auto;
  text-align: center;
  border: .9em solid black;
  border-radius: 2em;
}

.resize {
  width: 2.5em;
  height:auto;
  border: 0.2em solid black;
  border-radius: 15px;
  margin: 0px 20px 0px 20px;
}

a:hover {
  color: white;
}
