html,

body {
  max-width: 90%;
  margin: auto;
}

#header {
  text-align: center;
}

h3 {
  font-family: Courier;
}

p {
  font-size: 18px;
  line-height: -10px;
}

ul {
  list-style-type: none;
}
